name: Invalidate CloudFront Cache

on:
  workflow_dispatch:

jobs:
  invalidate_cache:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Fetch SSM parameters
        run: |
          SSM_BASE="/hoswoo.xyz"

          echo "Fetching parameters from SSM Parameter Store..."

          echo "CLOUDFRONT_DISTRIBUTION_ID=$(aws ssm get-parameter --name "$SSM_BASE/cloudfront_distribution_id" --query "Parameter.Value" --output text)" >> $GITHUB_ENV

          echo "All SSM parameters fetched successfully!"

      - name: Invlidate CloudFront Cache
        env: 
          CLOUDFRONT_DISTRIBUTION_ID: ${{ env.CLOUDFRONT_DISTRIBUTION_ID }}
        run: npm run invalidate-cloudfront-cache
